<!DOCYTYPE html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<span class="navbar-brand">
					{{ time }}
				</span>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class = "nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/companies">Companies</a></li>
					<li><a href="/strategies">Strategies</a></li>
					<li><a href="/quotes">Quotes</a></li>
				</ul>
			</div>
		</nav>
		<div id='table-header'></div>
		
	</body>
</html>
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
	function showCompanies(num){
		var tableContainer = $('#table-header');
		tableContainer.html("");
		var table = document.createElement("table")
		table.className="table table-condensed form-control-static";
		var headers = document.createElement("thead");
		var headerRow = document.createElement("tr");
		var symbolHeader = document.createElement("th");//
		var IDHeader = document.createElement("th");//
		var priceHeader = document.createElement("th");//
		var symbolHeaderText = document.createTextNode("Price");//
		var IDHeaderText = document.createTextNode("Symbol");//
		var priceHeaderText = document.createTextNode("Date");//

		priceHeader.appendChild(priceHeaderText);
		symbolHeader.appendChild(symbolHeaderText);
		IDHeader.appendChild(IDHeaderText);

		headerRow.appendChild(IDHeader);
		headerRow.appendChild(symbolHeader);
		headerRow.appendChild(priceHeader);

		headers.appendChild(headerRow);

		table.appendChild(headers);
		tableContainer.append(table);
		
		$.getJSON('/getCompanies', {"count":num}, success=function(data){
			data.forEach(function(each){
				//create row:
				var newRow = document.createElement("tr");

				//create data cells:
				var newDate = document.createElement("td");
				var newSymbol = document.createElement("td");
				var newPrice = document.createElement("td");

				//create data fields:
				var newDateValue = document.createTextNode(each[0]);
				var newSymbolValue = document.createTextNode(each[1]);
				var newPriceValue = document.createTextNode(each[2]);
	
				var newDateLink = document.createElement("a");
				//console.log("0: " + each[0]); //name
				//console.log("1: " + each[1]); //symbol
				//console.log("2: " + each[2]); // exchange
				newDateLink.href = "/company?symbol=" + each[1];

				//add fields to cells
				newDateLink.appendChild(newDateValue);
				newPrice.appendChild(newPriceValue);
				newSymbol.appendChild(newSymbolValue);
				newDate.appendChild(newDateLink)

				//add cells to row
				newRow.appendChild(newDate);
				newRow.appendChild(newSymbol);
				newRow.appendChild(newPrice);
				
				//add row to table
				table.appendChild(newRow);
			});
		});	
	}
	
	$(document).ready(function(){
		showCompanies(10);
	});
</script>
