<!DOCYTYPE html>
	<style type="text/css">
		table, th, td {
			border: 1px solid black;
			table-layout:fixed;
			display: table-cell;
		}
	</style>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">
						{{ time }}
					</span>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class = "nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/companies">Companies</a></li>
					<li><a href="/strategies">Strategies</a></li>
					<li><a href="/quotes">Quotes</a></li>
				</ul>
			</div>
		</nav>
		<h3>{{ name }}
		<h4>{{ symbol }}</h4>
		<h4>{{ exchange }}</h4>

		<div>
			<canvas id="chart" width=1000 height=500></canvas>
		</div>
	</body>
</html>
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script src='./static/js/require.js'></script>
<script>
$(document).ready(function(){
	require(['static/js/Charts/Chart.js'], function(Chart){
		var ctx = document.getElementById("chart").getContext("2d");
		var data = $.getJSON('/getQuotesBySymbol', {"symbol":"{{ symbol }}", "num":"10"}, function(data){
			var newChart = new Chart(ctx).Line(data);
		});
	});
});
</script>
