<!DOCYTYPE html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">
						{{ time }}
					</span>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class = "nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/companies">Companies</a></li>
					<li><a href="/strategies">Strategies</a></li>
					<li><a href="/quotes">Quotes</a></li>
				</ul>
			</div>
		</nav>
		<div class = "container-fluid">
			<div class="col-md-3 col-md-offset-2">
				<label for="num" class="col-md-1 control-label" id="numLabel">Number:</label>
				<input type="range" min=5 max=1000 class="form-control" id="num" value=10></input>
			</div>
			<div id='table-header' class='col-md-8 col-md-offset-2'>
			</div>
		</div>
	</body>
</html>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
	function showQuotes(num){
		var tableContainer = $('#table-header');
		tableContainer.html("");
		var table = document.createElement("table")
		table.className="table table-condensed form-control-static";
		var headers = document.createElement("thead");
		var headerRow = document.createElement("tr");
		var symbolHeader = document.createElement("th");//
		var IDHeader = document.createElement("th");//
		var priceHeader = document.createElement("th");//
		var symbolHeaderText = document.createTextNode("Price");//
		var IDHeaderText = document.createTextNode("Symbol");//
		var priceHeaderText = document.createTextNode("Date");//

		priceHeader.appendChild(priceHeaderText);
		symbolHeader.appendChild(symbolHeaderText);
		IDHeader.appendChild(IDHeaderText);

		headerRow.appendChild(IDHeader);
		headerRow.appendChild(symbolHeader);
		headerRow.appendChild(priceHeader);

		headers.appendChild(headerRow);

		table.appendChild(headers);
		tableContainer.append(table);
		
		$.getJSON('/mostRecent', {"count":num}, success=function(data){
			data.forEach(function(each){
				//create row:
				var newRow = document.createElement("tr");

				//create data cells:
				var newDate = document.createElement("td");
				var newSymbol = document.createElement("td");
				var newPrice = document.createElement("td");

				//create data fields:
				var newDateValue = document.createTextNode(each[0]);
				var newSymbolValue = document.createTextNode(each[1]);
				var newPriceValue = document.createTextNode(each[2]);

				//add fields to cells
				newDate.appendChild(newDateValue);
				newPrice.appendChild(newPriceValue);
				newSymbol.appendChild(newSymbolValue);

				//add cells to row
				newRow.appendChild(newDate);
				newRow.appendChild(newSymbol);
				newRow.appendChild(newPrice);
				
				//add row to table
				table.appendChild(newRow);
			});
		});
	
	}
	$(document).ready(function(){
		showQuotes(10);
		$('#numLabel').append(" 10");
	});
	$('#num').change(function(){
		showQuotes(this.value);
		$('#numLabel').html("Number: " + this.value);
	});
</script>
